.standard {
  all:unset;
  border: 1px solid #000;
  background-color: red;
}

.password {
  all:unset;
  border: 1px solid #000;
  background-color: green;
}

.search {
  all:unset;
  border: 1px solid #000;
  background-color: blue;
}

.inputWithIcon {
  all:unset;
  border: 1px solid #000;
  background-color: yellow;
}

.fullWidth {

  width: 100%;
}